{%- if theme.summarize.xhh_club %}
  <script type="text/javascript">
    // 可修改，摘要将显示在这个选择器选中的元素之上。
    var _xhh_selector = ".post-body";
    // 可修改，定制最外层 DIV 的风格。
    // 默认限制宽度为 750px，上下加 8px 的镶边，4 像素圆角。
    var _xhh_style = "max-width: 100%; margin:8px 0px; border-radius: 4px;";

    // 以下部分不要改动
    var host = '///xhh.club';
    var _xhh_service_url = host + '/summarize-this/';
    (function() {
      var smmr = document.createElement("script");
      smmr.src = host + "/static/js/summarize_this.js";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(smmr, s);
    })();
  </script>
{%- endif %}
