{%- set paths = page.path.split('/') %}
{%- set count = paths.length %}
{%- if count > 2 %}
  {%- set link = '' %}
  <ul class="breadcrumb">
    {%- for path in paths %}
      {%- if path != 'index.html' %}
        {%- if loop.index == count - 1 and paths[loop.index] == 'index.html' %}
          <li>{{ path | upper }}</li>
        {% else %}
          {%- set link = '/' + path if link == '' else link + '/' + path %}
          {%- if path.endsWith('.html') %}
            <li>{{ path | replace(r/\.html$/, '') | upper }}</li>
          {% else %}
            <li><a href="{{ url_for(link) }}/">{{ path | upper }}</a></li>
          {%- endif %}
        {%- endif %}
      {%- endif %}
    {%- endfor %}
  </ul>
{%- endif %}
