<div class="category-all-page">
  <div class="category-all-title">
    {{ _p('counter.categories', site.categories.length) }}
  </div>
  <div class="category-all">
    {{ list_categories() }}
  </div>
</div>
