<div class="search-header">
  <span class="search-icon">
    <i class="fa fa-search"></i>
  </span>
  <div class="search-input-container">
    <input autocomplete="off" autocapitalize="off" maxlength="80"
           placeholder="{{ __('search.placeholder') }}" spellcheck="false"
           type="search" class="search-input">
  </div>
  <span class="popup-btn-close">
    <i class="fa fa-times-circle"></i>
  </span>
</div>
<div id="search-result">
  <div id="no-result">
    <div class="spinner-container">
      <div class="spinner-rotator">
        <div class="spinner-left">
          <div class="spinner-circle"></div>
        </div>
        <div class="spinner-right">
          <div class="spinner-circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
