{% macro render(display_toc) %}
  <aside class="sidebar">
    {%- if display_toc %}
      {%- set toc = toc(page.content, {class: 'nav', list_number: page.toc.number, max_depth: page.toc.max_depth}) %}
      {%- set display_toc = toc.length > 1 and display_toc %}
    {%- endif %}

    <div class="sidebar-inner {% if display_toc %}sidebar-nav-active sidebar-toc-active{% else %}sidebar-overview-active{% endif %}">
      <ul class="sidebar-nav">
        <li class="sidebar-nav-toc">
          {{ __('sidebar.toc') }}
        </li>
        <li class="sidebar-nav-overview">
          {{ __('sidebar.overview') }}
        </li>
      </ul>

      <div class="sidebar-panel-container">
        <!--noindex-->
        <div class="post-toc-wrap sidebar-panel">
          {%- if display_toc %}
            <div class="post-toc animated">{{ toc }}</div>
          {%- endif %}
        </div>
        <!--/noindex-->

        <div class="site-overview-wrap sidebar-panel">
          {{ partial('_partials/sidebar/site-overview.njk', {}, {cache: theme.cache.enable}) }}

          {{- next_inject('sidebar') }}
        </div>
      </div>

      {%- if theme.back2top.enable and theme.back2top.sidebar %}
        <div class="back-to-top animated" role="button" aria-label="{{ __('accessibility.back_to_top') }}">
          <i class="fa fa-arrow-up"></i>
          <span>0%</span>
        </div>
      {%- endif %}
    </div>

    {# Blogroll #}
    {%- if theme.links %}
    <div class="sidebar-inner sidebar-blogroll">
      <div class="links-of-blogroll animated">
        <div class="links-of-blogroll-title">
          {%- if theme.links_settings.icon %}<i class="{{ theme.links_settings.icon }} fa-fw"></i>{% endif %}
          {{ __('sidebar.links') }}
        </div>
        <ul class="links-of-blogroll-list">
          {%- for blogrollText, blogrollURL in theme.links %}
            <li class="links-of-blogroll-item">
              {{ next_url(blogrollURL, blogrollText, {title: blogrollURL}) }}
            </li>
          {%- endfor %}
        </ul>
      </div>
    </div>
    {%- endif %}

    {%- if theme.related_posts.enable %}
      {%- if theme.pjax %}
        <div class="pjax">
      {%- endif %}
      {%- if page.embedding_vector %}
        {% set _ = related_posts(page) %}
      {%- endif %}
      {%- if page.related_posts and page.related_posts.length > 0 %}
        <div class="sidebar-inner sidebar-post-related">
          <div class="animated">
            {{ partial('_partials/post/post-related.njk') }}
          </div>
        </div>
      {%- endif %}
      {%- if theme.pjax %}
        </div>
      {%- endif %}
    {%- endif %}
  </aside>
{% endmacro %}
