.sidebar-toggle {
  bottom: 45px;
  height: 12px;
  padding: 6px 5px;
  width: 14px;
  sidebar-toggle();
}

.sidebar-toggle:hover .toggle-line {
  background: $sidebar-highlight;
}

body:not(.sidebar-active) .sidebar-toggle:hover {
  @extend .toggle.toggle-arrow;
}

.sidebar-active .sidebar-toggle {
  @extend .toggle.toggle-close;
}
