// Sidebar Navigation
.sidebar-nav {
  --scroll-height: auto;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-left: 0;
  transition: height $transition-ease;

  .sidebar-nav-active & {
    height: var(--scroll-height);
  }

  li {
    border-bottom: 1px solid transparent;
    color: $sidebar-nav-color;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-small;

    &.sidebar-nav-overview {
      margin-left: 10px;
    }

    &:hover {
      color: $sidebar-nav-hover-color;
    }
  }
}

.sidebar-toc-active .sidebar-nav-toc, .sidebar-overview-active .sidebar-nav-overview {
  border-bottom-color: $sidebar-highlight;
  color: $sidebar-highlight;

  &:hover {
    color: $sidebar-highlight;
  }
}

// For TOC/Overview scrolling
.sidebar-panel-container {
  align-items: start;
  display: grid;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 0;
  transition: padding-top $transition-ease;

  .sidebar-nav-active & {
    padding-top: 20px;
  }
}

.sidebar-panel {
  --switch-duration: .3s;
  animation: var(--switch-duration) deactivate-sidebar-panel;
  grid-area: 1 / 1;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(0);
  transition-delay: 0s;
  transition-duration: var(--switch-duration);
  transition-property: opacity, transform;
  pointer-events: none;

  // Apply transform to both panels when sidebar nav is active,
  // to the TOC panel when switching from Overview to TOC regardless of
  // whether the sidebar nav is active
  .sidebar-nav-active &,
  .sidebar-overview-active &.post-toc-wrap {
    transform: translateY(-20px);
  }

  // Delay TOC transform transition when switching from TOC to Overview while
  // deactivating the sidebar nav to prevent the TOC panel from moving too fast
  // https://github.com/next-theme/hexo-theme-next/pull/323#issuecomment-1420780965
  .sidebar-overview-active:not(.sidebar-nav-active) &.post-toc-wrap {
    transition-delay: 0s, var(--switch-duration);
  }

  .sidebar-overview-active &.site-overview-wrap,
  .sidebar-toc-active &.post-toc-wrap {
    animation-name: activate-sidebar-panel;
    height: auto;
    opacity: 1;
    transform: translateY(0);
    transition-delay: var(--switch-duration);
    transition-duration: var(--switch-duration);
    pointer-events: unset;
  }

  &.site-overview-wrap {
    // Flexbox layout makes it possible to reorder the child
    // elements of .site-overview-wrap through the `order` CSS property
    flex-column();
    gap: 10px;
    justify-content: flex-start; // TODO: Optimize the duplicate with flex-column()
  }
}

// These two are the same but if we use the same name
// it will only run once
@keyframes deactivate-sidebar-panel {
  from {
    height: var(--inactive-panel-height);
  }
  to {
    height: var(--active-panel-height);
  }
}

@keyframes activate-sidebar-panel {
  from {
    height: var(--inactive-panel-height);
  }
  to {
    height: var(--active-panel-height);
  }
}
