.sidebar-toggle {
  background: $black-deep;
  bottom: 45px;
  cursor: pointer;
  height: 14px;
  padding: 5px;
  position: fixed;
  width: 14px;
  z-index: $zindex-3;
  sidebar-toggle();

  +tablet-mobile() {
    opacity: $b2t-opacity-hover;

    if (!hexo-config('sidebar.onmobile')) {
      display: none;
    }
  }
}

.sidebar-toggle:hover .toggle-line {
  background: $sidebar-highlight;
}
