.sidebar-inner {
  color: $grey-dark;
  padding: $sidebar-padding 10px;
  text-align: center;
}

.cc-license {
  margin-top: 10px;

  .cc-opacity {
    border-bottom: none;
    opacity: .7;

    &:hover {
      opacity: .9;
    }
  }

  img {
    display: inline-block;
  }
}

@import 'sidebar-author';
@import 'sidebar-author-links';
@import 'sidebar-button';
@import 'sidebar-blogroll';
@import 'sidebar-dimmer';
@import 'sidebar-nav';
@import 'sidebar-toggle';

@import 'sidebar-toc' if (hexo-config('toc.enable'));

@import 'site-state' if (hexo-config('site_state'));
