.links-of-blogroll {
  font-size: $font-size-smaller;
}

.links-of-blogroll-title {
  font-size: $font-size-small;
  font-weight: 600;
}

.links-of-blogroll-list {
  list-style: none;
  gap: 5px;
  margin: 5px 0 0;
  padding: 0;
  flex-wrap();

  if (hexo-config('links_settings.layout') == 'block') {
    flex-direction: column;
  }
}

.links-of-blogroll-item {
  max-width: 100%;

  a {
    sidebar-inline-links-item();
  }
}
