.site-state {
  display: flex;
  justify-content: center;
  line-height: 1.4;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.site-state-item {
  &:not(:first-child) {
    border-left: 1px solid $site-state-item-border-color;
  }

  a {
    border-bottom: none;
    display: block;
    padding: 0 15px;
  }
}

.site-state-item-count {
  display: block;
  font-size: $site-state-item-count-font-size;
  font-weight: 600;
}

.site-state-item-name {
  color: $site-state-item-name-color;
  font-size: $site-state-item-name-font-size;
}
