.site-state {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.4;
  margin-top: 10px;
}

.site-state-item a {
  border-bottom: none;
  display: block;
  padding: 0 15px;
}

.site-state-item-count {
  display: block;
  font-size: $site-state-item-count-font-size;
  font-weight: 600;
}

.site-state-item-name {
  color: $site-state-item-name-color;
  font-size: $site-state-item-name-font-size;
}
