{
  "plugins": [
    "stylelint-stylus"
  ],
  "extends": [
    "stylelint-stylus/standard"
  ],
  "rules": {
    "stylus/semicolon": "always",
    "stylus/pythonic": "never",
    "stylus/declaration-colon": "always",
    "stylus/number-leading-zero": "never",
    "stylus/selector-list-comma": "always",
    "stylus/selector-list-comma-newline-after": "never-multi-line",
    "stylus/media-feature-colon": "always",
    "stylus/single-line-comment": null,
    "stylus/single-line-comment-no-empty": null,
    "stylus/block-closing-brace-newline-after": "never-single-line"
  }
}
