{{ open_graph() }}

{# https://github.com/theme-next/hexo-theme-next/issues/866 #}
{%- set canonical = url | replace(r/index\.html$/, '') %}
{%- if not config.permalink.endsWith('.html') %}
  {%- set canonical = canonical | replace(r/\.html$/, '') %}
{%- endif %}
<link rel="canonical" href="{{ canonical }}">

{# Exports some front-matter variables to Front-End #}
{# https://hexo.io/docs/variables.html #}
<script{{ pjax }} class="page-configurations" data-config="{{
  {
    sidebar: page.sidebar or '',
    isHome : is_home(),
    isPost : is_post(),
    lang   : page.lang
  } | safedump | escape
}}" src="js/config-page.js"></script>

{{- next_inject('head') }}
