{%- if theme.open_graph.enable %}
  {%- if theme.open_graph.options %}
    {{ open_graph(theme.open_graph.options) }}
  {%- else %}
    {{ open_graph() }}
  {%- endif %}
{%- endif %}

{# https://github.com/theme-next/hexo-theme-next/issues/866 #}
{%- set canonical = url | replace(r/index\.html$/, '') %}
{%- if not config.permalink.endsWith('.html') %}
  {%- set canonical = canonical | replace(r/\.html$/, '') %}
{%- endif %}
<link rel="canonical" href="{{ canonical }}">
{%- if page.noindex %}
<meta name="robots" content="noindex">
{%- endif %}
{# Exports some front-matter variables to Front-End #}
{# https://hexo.io/docs/variables.html #}
{{ next_data('page', next_config_unique()) }}

{{ next_data('calendar',
  theme.calendar if page.type === 'schedule' else '')
}}
