{%- if theme.firestore.enable %}
  {{ next_vendors('firebase_app', { async: true }) }}
  {{ next_vendors('firebase_firestore', { async: true }) }}
  {{ next_data('firestore', theme.firestore) }}
  {{ next_js('third-party/statistics/firestore.js', { defer: true }) }}
{%- endif %}
