<link rel="stylesheet" href="{{ theme.vendors.katex }}">
{%- if theme.math.katex.copy_tex %}
  <script src="{{ theme.vendors.copy_tex_js }}"></script>
  <link rel="stylesheet" href="{{ theme.vendors.copy_tex_css }}">
{%- endif %}
