{{ next_vendors('katex') }}
{%- if theme.math.katex.copy_tex %}
  {{ next_vendors('copy_tex_css') }}
  {{ next_data('katex', {
    copy_tex_js: theme.vendors.copy_tex_js
  }) }}
  {{ next_js('third-party/math/katex.js') }}
{%- endif %}
