{%- set ccIcon = '<i class="fab fa-fw fa-creative-commons"></i>' %}
{%- set ccText = theme.creative_commons.license | upper %}

<div>
<ul class="post-copyright">
  <li class="post-copyright-author">
    {%- if page.author %}
      <strong>{{ __('post.copyright.post-author') + __('symbol.colon') }} </strong>
      {{- page.author }}
    {%- elif author %}
      <strong>{{ __('post.copyright.author') + __('symbol.colon') }} </strong>
      {{- author }}
    {%- endif %}
  </li>
  <li class="post-copyright-link">
    {%- if page.post_link %}
      <strong>{{ __('post.copyright.post-link') + __('symbol.colon') }}</strong>
      {{ page.post_link }}
    {%- elif next_url(page.permalink, page.permalink, {title: page.title}) %}
      <strong>{{ __('post.copyright.link') + __('symbol.colon') }}</strong>
      {{ next_url(page.permalink, page.permalink, {title: page.title}) }}
    {%- endif %}
  </li>
  <li class="post-copyright-license">
    <strong>{{ __('post.copyright.license_title') + __('symbol.colon') }} </strong>
    {{- __('post.copyright.license_content', next_url(ccURL, ccIcon + ccText)) }}
  </li>
</ul>
</div>
