{%- if theme.addtoany.enable %}
  <div class="social-like a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    {%- for button in theme.addtoany.buttons %}
      <a class="a2a_button_{{ button }}"></a>
    {%- endfor %}
  </div>
{%- endif %}
