{%- set ccIcon = '<i class="fab fa-fw fa-creative-commons"></i>' %}
{%- set ccText = theme.creative_commons.license | upper %}

<div>
<ul class="post-copyright">
  <li class="post-copyright-author">
    <strong>{{ __('post.copyright.author') + __('symbol.colon') }} </strong>
    {{- page.author or author }}
  </li>
  <li class="post-copyright-link">
    <strong>{{ __('post.copyright.link') + __('symbol.colon') }}</strong>
    {{ next_url(page.permalink, page.permalink, {title: page.title}) }}
  </li>
  <li class="post-copyright-license">
    <strong>{{ __('post.copyright.license_title') + __('symbol.colon') }} </strong>
    {{- __('post.copyright.license_content', next_url(ccURL, ccIcon + ccText)) }}
  </li>
</ul>
</div>

{%- if theme.post_copyright.enable %}
  <script>
    document.body.oncopy = function (e) {
      var selection = window.getSelection();
      if (("" + selection).length < {{ theme.post_copyright.maxLength }}) return;
      e.preventDefault();
      let copyMsg = window.getSelection() + "作者: {{ page.author or author }} 链接: {{ page.permalink }}"
      e.clipboardData.setData("Text", copyMsg);
    }
  </script>
{%- endif %}