{%- if theme.add_this_id %}
  <div class="addthis_inline_share_toolbox social-like">
    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ theme.add_this_id }}" async="async"></script>
  </div>
{%- endif %}

{%- if theme.addtoany.enable %}
  <div class="social-like a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    {%- for button in theme.addtoany.buttons %}
      <a class="a2a_button_{{ button }}"></a>
    {%- endfor %}
  </div>
{%- endif %}
