{% extends '_layout.njk' %}
{% import '_macro/sidebar.njk' as sidebar_template with context %}

{% block title %}{{ page.title }} | {{ title }}{% endblock %}

{% block class %}post posts-expand{% endblock %}

{% block content %}

  {{ partial('_macro/post.njk', {post: page}) }}

  {{ partial('_third-party/summarize/index.njk', {}, {cache: theme.cache.enable}) }}

{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(page.toc.enable) }}
{% endblock %}
