// Variables of Mist scheme
// ==================================================

@import "Muse.styl";

$content-padding-bottom     = 80px;
$posts-first-padding        = 80px;
$posts-first-padding-mobile = 60px;

$link-decoration-color   = $grey-light;
$content-bg-color        = $whitesmoke;
$menu-item-bg-color      = $grey-lighter;

$head-bg                 = var(--content-bg-color);
$brand-color             = $black-deep;
$brand-hover-color       = $brand-color;

$posts-collapse-left     = 0;

$btn-default-bg                 = transparent;
$btn-default-color              = var(--link-color);
$btn-default-hover-bg           = transparent;
$btn-default-border-color       = var(--link-color);
$btn-default-hover-color        = var(--link-hover-color);
$btn-default-hover-border-color = var(--link-hover-color);
