.post-gallery {
  display: flex;
  margin-bottom: 60px;

  .post-gallery-image {
    background-size: cover;
    flex: 1;
    height: 200px;

    &:not(:first-child) {
      clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%);
      margin-left: -20px;
    }

    &:not(:last-child) {
      margin-right: -20px;
    }
  }
}
