.followme {
  color: $grey;
  padding: 1em 1.5em;
  text-align: center;
  post-card();

  .social-list {
    flex-wrap();

    .social-item {
      margin: .5em 2em;

      +tablet-mobile() {
        margin: .5em .75em;
      }
    }

    .social-link {
      border: 0;
      display:inline-block;
      text-align: center;

      .icon {
        font-size: 1.75em;
      }

      .label {
        display: block;
        font-size: 14px;
      }
    }
  }
}
