<script>
var pjax = new Pjax({
  selectors: [
    'head title',
    '#page-configurations',
    '.main-inner',
    '.post-toc-wrap',
    '.languages',
    '#pjax'
  ],
  analytics: false,
  cacheBust: false,
  scrollTo : !CONFIG.bookmark.enable
});

document.addEventListener('pjax:success', () => {
  pjax.executeScripts(document.querySelectorAll('script[data-pjax], #pjax script'));
  NexT.boot.refresh();
  // Define Motion Sequence & Bootstrap Motion.
  if (CONFIG.motion.enable) {
    NexT.motion.integrator
      .init()
      .add(NexT.motion.middleWares.subMenu)
      .add(NexT.motion.middleWares.postList)
      .bootstrap();
  }
  const hasTOC = document.querySelector('.post-toc');
  document.querySelector('.sidebar-inner').classList.toggle('sidebar-nav-active', hasTOC);
  if (hasTOC) {
    document.querySelector('.sidebar-nav-toc').click();
  } else {
    document.querySelector('.sidebar-nav-overview').click();
  }
  NexT.utils.updateSidebarPosition();
});
</script>
