.book-mark-link {
  border-bottom: none;
  position: fixed;
  top: -10px;
  transition: top .3s;
  sidebar-toggle-position(true);

  +tablet-mobile() {
    display: none;
  }

  &::before {
    color: unquote(hexo-config('bookmark.color'));
    font-size: 32px;
    line-height: 1;
    font-family-icons('\f02e');
  }
}

.book-mark-link:hover, .book-mark-link-fixed {
  top: -2px;
}
