.site-nav-toggle, .site-nav-search {
  display: none;

  +mobile() {
    flex-column();
  }

  .toggle {
    color: var(--text-color);
  }
}

.site-nav {
  +mobile() {
    site-nav-hide-by-default();
  }
}
