.group-picture {
  margin-bottom: 20px;

  .group-picture-row {
    display: flex;
    gap: 3px;
    margin-bottom: 3px;
  }

  .group-picture-column {
    flex: 1;

    img {
      margin: 0;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
