{% if inject_point === 'comment' %}

  <div class="comments" id="disqus_thread">
    <noscript>Please enable JavaScript to view the comments powered by Disqus.</noscript>
  </div>

{% elif inject_point === 'bodyEnd' %}

  {{ next_data('disqus', theme.disqus, {
    i18n: {
      disqus: __('disqus')
    }
  }) }}
  {{ next_js('third-party/comments/disqus.js') }}

{% elif inject_point === 'postMeta' %}

  {% if post.comments %}
    <span class="post-meta-item">
      {% from '_third-party/comments/common.njk' import iconText %}
      {{ iconText('far fa-comment', 'changyan') }}
      <a title="disqus" href="{{ url_for(post.path) }}#disqus_thread" itemprop="discussionUrl">
        <span class="post-comments-count disqus-comment-count" data-disqus-identifier="{{ post.path }}" itemprop="commentCount"></span>
      </a>
    </span>
  {% endif %}

{% endif %}
