<script>
NexT.utils.loadComments('#valine-comments', () => {
  NexT.utils.getScript('{{ url_for(theme.vendors.valine) }}', () => {
    new Valine(Object.assign({
      el  : '#valine-comments',
      path: location.pathname,
    }, {{ theme.valine | safedump }}
    ));
  }, window.Valine);
});
</script>
