{%- set valine_uri = theme.vendors.valine or '//cdn.jsdelivr.net/npm/valine@1/dist/Valine.min.js' %}

<script>
NexT.utils.loadComments('#valine-comments', () => {
  NexT.utils.getScript('{{ url_for(valine_uri) }}', () => {
    new Valine(Object.assign({
      el  : '#valine-comments',
      path: location.pathname,
    }, {{ theme.valine | safedump }}
    ));
  }, window.Valine);
});
</script>
