{%- if theme.quicklink.enable %}
  {{ next_vendors('quicklink') }}
  {{ next_data('quicklink', page.quicklink, {
    url: url | replace(r/index\.html$/, '')
  }) }}
  {{ next_js('third-party/quicklink.js') }}
{%- endif %}
