{% macro render(node) %}

  {%- set itemURL = node.path %}
  <li class="menu-item menu-item-{{ node.name | lower | replace(' ', '-') }}">

    {%- set menuIcon = '<i class="' + node.icon + ' fa-fw"></i>' if theme.menu_settings.icons and node.icon else '' %}
    {%- set menuText = __('menu.' + node.name) | replace('menu.', '') %}

    {%- set menuBadge = '' %}
    {%- if theme.menu_settings.badges %}
      {%- set badges = {
        archives  : site.posts.length,
        categories: site.categories.length,
        tags      : site.tags.length
        }
      %}
      {%- for menu, count in badges %}
        {%- if node.name == menu %}
          {%- set menuBadge = '<span class="badge">' + count + '</span>' %}
        {%- endif %}
      {%- endfor %}
    {%- endif %}

    {{- next_url(itemURL, menuIcon + menuText + menuBadge, {rel: 'section'}) -}}

  </li>

{% endmacro %}
