{%- if theme.mermaid.enable %}
<script{{ pjax }}>
if (document.querySelectorAll('.mermaid').length) {
  NexT.utils.getScript('{{ theme.vendors.mermaid }}', () => {
    mermaid.init({
      theme    : '{{ theme.mermaid.theme }}',
      logLevel : 3,
      flowchart: { curve     : 'linear' },
      gantt    : { axisFormat: '%m/%d/%Y' },
      sequence : { actorMargin: 50 }
    }, '.mermaid');
  }, window.mermaid);
}
</script>
{%- endif %}
