{%- if theme.pdf.enable %}
  {{ next_data('pdf', {
    object_url: theme.vendors.pdfobject,
    url: url_for('lib/pdf/web/viewer.html')
  }) }}
  {{ next_js('third-party/tags/pdf.js') }}
{%- endif %}
