.site-nav {
  +tablet() {
    site-nav-hide-by-default();
  }
}

.menu .menu-item {
  display: block;
  margin: 0;

  a {
    padding: 5px 20px;
    transition-property: background-color;
    menu-item-row();
  }

  +tablet-mobile() {
    &.menu-item-search {
      display: none;
    }
  }
}

if (not hexo-config('menu_settings.badges')) {
  .main-menu .menu-item-active::after {
    background: $grey;
    border-radius: 50%;
    content: ' ';
    height: 6px;
    margin-top: -3px;
    position: absolute;
    right: 15px;
    top: 50%;
    width: 6px;
  }
}
