.custom-logo-image {
  background: white;
  margin: 0 auto 10px;
  max-width: 150px;
  padding: 5px;
}

.brand {
  background: var(--btn-default-bg);
}

.header-inner {
  padding-top: 100px;

  +mobile() {
    padding-top: 50px;
  }
}
