.main-inner {
  margin: 0 auto;
  width: $content-desktop;

  +desktop-large() {
    width: $content-desktop-large;
  }

  +desktop-largest() {
    width: $content-desktop-largest;
  }

  +mobile() {
    padding: 0 20px;
  }
}

.header-inner, .main-inner, .footer-inner {
  +mobile() {
    width: auto;
  }
}
