.main-inner {
  main-container();

  +mobile() {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header-inner, .main-inner, .footer-inner {
  +mobile() {
    width: auto;
  }
}

// Page - Container
// --------------------------------------------------
.main-inner {
  padding-bottom: $content-padding-bottom;
}

.post-block:first-of-type {
  padding-top: $posts-first-padding;

  +mobile() {
    padding-top: $posts-first-padding-mobile;
  }
}
