.header {
  main-container();
}

.main-inner {
  main-container();
  padding-bottom: $content-padding-bottom;

  +mobile() {
    padding-left: 20px;
    padding-right: 20px;
  }
}

// Page - Container
// --------------------------------------------------
.post-block:first-of-type {
  padding-top: $posts-first-padding;

  +mobile() {
    padding-top: $posts-first-padding-mobile;
  }
}
