.site-nav {
  +mobile() {
    padding-top: 30px;
  }
}

.main-menu {
  +mobile() {
    border-bottom: 1px solid $grey-lighter;
    border-top: 1px solid $grey-lighter;
  }
}

.menu {
  +mobile() {
    text-align: left;
  }
}

.menu .menu-item {
  +mobile() {
    margin: 0 10px;
  }

  a {
    border-bottom: 1px solid transparent;

    +mobile() {
      padding: 5px 10px;
      menu-item-row();
    }

    &:hover, &.menu-item-active {
      background: transparent;
      border-bottom: 1px solid var(--link-hover-color);

      +mobile() {
        border-bottom: 1px dotted $grey-lighter;
      }
    }
  }

  i[class^='fa'] {
    +tablet-desktop() {
      display: block;
      line-height: 2;
      margin-right: 0;
      width: 100%;
    }
  }
}
