+desktop-large() {
  .sidebar-dimmer {
    display: none;
  }

  .sidebar-active {
    // Note: $sidebar-width-expanded + $content-desktop-large should be less than desktop-large threshold
    // Otherwise a horizontal scrollbar will appear
    if ($sidebar-toggle-alignment == 'right') {
      padding-right: $sidebar-width-expanded;

      .footer-fixed {
        right: $sidebar-width-expanded;
      }
    } else {
      padding-left: $sidebar-width-expanded;

      .footer-fixed {
        left: $sidebar-width-expanded;
      }
    }
  }
}
