+desktop-large() {
  .sidebar-dimmer {
    display: none;
  }

  .sidebar-active {
    // Note: $sidebar-desktop + $content-desktop-large should be less than desktop-large threshold
    // Otherwise a horizontal scrollbar will appear
    if (hexo-config('sidebar.position') == 'right') {
      padding-right: $sidebar-desktop;

      .footer-fixed {
        right: $sidebar-desktop;
      }
    } else {
      padding-left: $sidebar-desktop;

      .footer-fixed {
        left: $sidebar-desktop;
      }
    }
  }
}
