.back-to-top {
  margin: 20px - $sidebar-offset -10px -20px;
  opacity: 0;
  transition: opacity $transition-ease;

  &.back-to-top-on {
    cursor: pointer;
    opacity: $b2t-opacity;

    &:hover {
      opacity: $b2t-opacity-hover;
    }
  }
}
