.noscript-warning {
  background-color: lighten($red, 20%);
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: $zindex-5;
}

@import 'back-to-top';
@import 'reading-progress';

@import 'post';
@import 'pages';
@import 'third-party';
