{%- if theme.cloudflare_analytics %}
  <script{{ pjax }} defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ theme.cloudflare_analytics }}"}'></script>
{%- endif %}
