{%- if theme.cloudflare_analytics %}
  <script{{ pjax }} defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{&quot;token&quot;: &quot;{{ theme.cloudflare_analytics }}&quot;}'></script>
{%- endif %}
