{%- if theme.growingio_analytics %}
  <script async src="//assets.growingio.com/2.1/gio.js"></script>
  {{ next_data('growingio_analytics', theme.growingio_analytics) }}
  {{ next_js('third-party/analytics/growingio.js') }}
{%- endif %}
