{%- include 'google-analytics.njk' -%}
{%- include 'baidu-analytics.njk' -%}
{%- include 'growingio.njk' -%}
{%- include 'cloudflare.njk' -%}
{%- include 'microsoft-clarity.njk' -%}
{%- include 'matomo.njk' -%}
{%- include 'umami.njk' -%}
{%- include 'plausible.njk' -%}
