{%- if theme.umami.enable %}
  <script async defer data-website-id="{{ theme.umami.website_id }}" src="{{ theme.umami.script_url }}" data-host-url="{{ theme.umami.data_host_url }}"></script>
{%- endif %}
