{%- if theme.umami.enable %}
  {%- if theme.umami.host_url %}
  <script async defer data-website-id="{{ theme.umami.website_id }}" src="{{ theme.umami.script_url }}" data-host-url="{{ theme.umami.host_url }}"></script>
  {% else %}
  <script async defer data-website-id="{{ theme.umami.website_id }}" src="{{ theme.umami.script_url }}"></script>
  {%- endif %}
{%- endif %}
