{%- if theme.umami.enable %}
  <script async defer data-website-id="{{ theme.umami.website_id }}" src="{{ theme.umami.script_url }}"{% if theme.umami.host_url %} data-host-url="{{ theme.umami.host_url }}"{% endif %}></script>
{%- endif %}
