// Menu
// --------------------------------------------------
.site-nav {
  flex-grow: 1;

  +mobile() {
    padding: 0 10px 0;
  }
}

.main-menu {
  +mobile() {
    padding-top: 10px;
  }
}

.menu {
  padding: 0;

  .menu-item {
    margin: 0;

    +mobile() {
      margin-top: 5px;
    }

    a {
      border-radius: 2px;
      padding: 0 10px;
      transition-property: background;

      +mobile() {
        text-align: left;
        menu-item-row();
      }
    }
  }
}
